body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.highlight{
    color: crimson;
}
.half-width{
    width: 40%;
    float:left;
    margin: 2%;
    padding-left: 2%;
}
.half-width img{
   width: 100%;  
}
.background{
    background-image: url("images/background.png");
        
}
section{
    height: 800px;
}
.color{
    color: aqua;
}