body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.highlight{
    color: brown;
}
.half-width{
    width: 40%;
    float:left;
    margin: 2%;
    padding-left: 2%;
}
.half-width img{
   width: 100%;  
}